# Preparacao das tabelas treino e teste

In [1]:
import pandas as pd
import os

## Importando a tabela filtrada no databricks

In [3]:
df = pd.read_csv('./bases/application_train_filtered.csv')
df.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,456162,False,Cash loans,F,False,False,0,112500.0,700830.0,22738.5,...,False,False,False,False,0.0,0.0,0.0,0.0,0.0,1.0
1,134978,False,Cash loans,F,False,False,0,90000.0,375322.5,14422.5,...,False,False,False,False,0.0,0.0,0.0,1.0,0.0,3.0
2,318952,False,Cash loans,M,True,False,0,180000.0,544491.0,16047.0,...,False,False,False,False,0.0,0.0,0.0,1.0,1.0,3.0
3,361264,False,Cash loans,F,False,True,0,270000.0,814041.0,28971.0,...,False,False,False,False,0.0,0.0,0.0,0.0,1.0,4.0
4,260639,False,Cash loans,F,False,True,0,144000.0,675000.0,21906.0,...,False,False,False,False,0.0,0.0,0.0,10.0,0.0,0.0

## Separando em treino e teste

In [4]:
def separar_treino(x, df_treino):
    if x.name in df_treino.index:
        return True
    else:
        return False

df_treino = df.sample(frac=0.7, random_state=42)
df['Flag_Treino'] = df.apply(lambda x: separar_treino(x, df_treino), axis=1)
df['Flag_Treino'].value_counts()

True     172206
False     73802
Name: Flag_Treino, dtype: int64

## Salvando os datasets

In [5]:
os.makedirs('./bases', exist_ok=True)  

df.to_csv('./bases/application_splitado_07.csv', index=False)